<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/Assets/Admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="/Admin/Home/Index">
                        <i class="fas fa-home"></i>Trang Chủ
                    </a>
                </li>
                <li>
                    <a href="#" class="js-arrow">
                        <i class="fas fa-sitemap"></i>Hệ Thống
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/Admin/UserGroup/Index">Nhóm người dùng</a>
                        </li>
                        <li>
                            <a href="/Admin/User/Index">Người dùng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="js-arrow">
                        <i class="fas fa-newspaper-o"></i>Tin Tức
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/Admin/Category/Index">Danh mục tin tức</a>
                        </li>
                        <li>
                            <a href="/Admin/Content/Index">Tin tức</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="js-arrow">
                        <i class="fas fa-cubes"></i>Sản Phẩm
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/Admin/ProductCategory/Index">Danh mục sản phẩm</a>
                        </li>
                        <li>
                            <a href="/Admin/Product/Index">Tin tức</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="js-arrow">
                        <i class="fas fa-magnet"></i>Quản lý chung
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/Admin/ProductCategory/Index">About</a>
                        </li>
                        <li>
                            <a href="/Admin/Product/Index">Footer</a>
                        </li>
                        <li>
                            <a href="/Admin/Product/Index">Mene</a>
                        </li>
                        <li>
                            <a href="/Admin/Product/Index">Slide</a>
                        </li>
                        <li>
                            <a href="/Admin/Product/Index">FeedBack</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
